{% extends 'base.html' %} 
{% block content %}
<h1>About GameStash</h1>
<hr />
<p class="page-content">
  One of the best ways to reduce stress, enjoy personal time, spend time with friends, expand your creativity and so much more is with playing video games! With a wide selection of genres theres games for everyone. GameStash is the place to track the games you play, on which console, your progress,game details and in game goals. If you're anything like me you play when you can and sometimes that means months between gaming sessions. Let GameStash be the place you keep track of it all!
</p>

{% endblock %}
