{% extends 'base.html' %} 
{% load static %} 
{% block head %}

{% endblock %} 
{% block content %}
<section class="container">
    <article class="card">
      <div class="card-content">
        <div class="card-img-container">
        </div>
        <h2 class="card-title">{{ game.name }}</h2>
        <p>A {{ game.genre }}</p>
        <p>{{ game.description }}</p>
        <p>Console I play on:{{game.console}}</p>
      </div>
      <div class="cat-actions">
    <a href="{% url 'game-update' game.id %}" class="btn warn">Edit</a>
    <a href="{% url 'game-delete' game.id %}" class="btn danger">Delete</a>
      </div>
    </article>
  </div>
</section>

<div class="container">
  <section class="plays">
    <h2>Add a Play</h2>
    <form 
      action="{% url 'add-play' game.id %}"
      method="post" 
      class="subsection-content" 
      autocomplete="off"
    >
      {% csrf_token %} 
      {{ play_form.as_p }}
      <button type="submit" class="btn submit">Add Play</button>
    </form>

    <h2>Plays</h2>
    {% if game.play_set.all.count %}
    {% for play in game.play_set.all%}
    
    <div class="container">
      <h4>Date:</h4>
      <td>{{play.date}}</td>

      <h4>Note:</h4>
      <td>{{play.note}}</td>

    </div>
    {% endfor %}
    {% else %}
    <div class="subsection-content">
      <p>⚠️  no plays!</p>
    </div>
  {% endif %}

  </section>
</div>
{% endblock %}
