{% extends 'base.html' %} {% load static %} {% block head %}

{% endblock %} {% block content %}

<section class="page-header">
  <h1>Game List</h1>

</section>

<section class="card-container">
  {% for game in games %}
  <div class="card">
    <a href="{% url 'game-detail' game.id %}">
    <div class="card-content">
      <h2 class="card-title">{{ game.name }}</h2>
      <p>A {{ game.genre }}</p>
      <p>{{ game.description }}</p>
      <p>Console I play on:{{game.console}}</p>
    </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
